/* Ícones de Contato */
.whatsapp-icon {
    color: #25D366; /* Verde do WhatsApp */
    margin-right: 8px;
}

.email-icon {
    color: #D44638; /* Vermelho do Gmail */
    margin-right: 8px;
}

/* Ajustes gerais */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1em;
    margin: 10px 0;
}
